@import url("../css/common.css");

* {
    box-sizing: border-box;
}

#top {
    width: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 75%;
}

#inner {
    width: 50%;
    display: table;
    margin: 0 auto;
}

.section {
    background-color: #f8f8f8;
    border-style: groove;
    border-width: 5px;
    border-color: #f2f2f2;
}

.search {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #ddd;
    border-style: groove;
    border-width: 5px;
    border-color: #f2f2f2;
  }

/* Style the tab content */
.tabcontent {
    display: none;
  }

/* Create an active/current tablink class */
.tab button.inactive {
  background-color: #ddd;
  color:#666;
}

/* Create an active/current tablink class */
.tab button.inactive:hover {
    background-color: #1f77b4;
    color:#fcfcfc;
  }

.domainList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.domainList li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #e2f1fd;
    padding: 6px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

.domainList>li:nth-of-type(even) {
    background-color: #d0ebff;
}

.domainList li:hover:not(.header) {
    background-color: #1f77d4;
    color: #fcfcfc;
}

.listContainer {
    height: 150px;
    overflow-y: auto;
    background-color: #f8f8f8;
    border-style: inset;
    border-width: 1px;
    border-color: #f2f2f2;
}

.tabLink {
    display: inline-block;
    width: 33%;
}

.links3 {
    display: inline-block;
    width: 33%;
}

.links2 {
    display: inline-block;
    width: 45%;
}

#titleContainer {
    background-color: #1f77b4;
    color: #fcfcfc;
    text-align: center;
    font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
    padding: 0px 15px 7px 15px;
    height: 30px;
    box-sizing: inherit;
    display: block;
    font-size: 22px;
}

ul.options li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="color"] {
    opacity: 0;
    display: block;
    width: 35px;
    height: 18px;
    border: none;
}

#color-picker-wrapper {
    margin-right: 20px;
    float: left;
}

#color-picker-label {
    font-size: 13px;
}

.detailText {
    font-size: 10px;
}

.sectionHeader {
    margin-top: 0px;
    margin-bottom: 0px;
}

.categoryPill
{
    border-top: 1px solid #dcdcdc;
    border-radius: 5px;
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    right: 10px;
    position: relative;
}

.primarySource
{
  background-color:#23780c
}

.newsSite
{
  background-color:#FF0000
}

.socialMedia
{
  background-color:#1f77b4
}

.misc
{
  background-color:#ccc
}

.blink 
{
    animation: blinker 1s ease-in-out 5;
}

@keyframes blinker {
    0%  { background-color: #23780c;}
    100%   { background-color: "";}
  }

