@import url("../css/common.css");

.messageBarMessage {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#main {
  background-color: white;
  max-height: 516px;
  width: 320px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#pssContainer {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#messageBar {
  background-color: #ffd000;
  color: black;
  font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
  padding: 6px 4px 6px 4px;
  box-sizing: inherit;
  display: block;
  font-size: 11px;
  text-align: center;
}

#buttonContainer {
  width: 100%;
  padding: 4px;
  text-align: center;
}

#graphContainer {
  width: 280px;
  text-align: center;
  display: block;
  margin: auto;
}

#optionsContainer {
  font-size: 10px;
  box-sizing: inherit;
  padding-left: 4px;
  padding-right: 4px;
  height: 30px;
  box-sizing: inherit;
  display: block;
}

#titleContainer {
  background-color: #1f77b4;
  color: #fcfcfc;
  text-align: center;
  font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
  padding: 4px 15px 4px 15px;
  height: 30px;
  box-sizing: inherit;
  display: block;
  font-size: 20px;
}

p {
  font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
  left:4px;
  top:3px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 16px;
  left: 19px;
  bottom: 4px;
  background-color: #1f77b4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #323236;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1f77b4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}

.contextMenu {
  position: absolute;
  display:none;
  z-index: 10000;
}
.contextTitle{
    padding:6px 16px;
    font-weight: bold;
    background-color: #1f77b4;
    color: #fcfcfc;
}

.dropdown{
  display:block;
  z-index:10000;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor:auto;
  color:#000;
  background-color:#fff;
  display:none;
  position:absolute;
  min-width:160px;
  margin:0;
  padding:0
}
.dropdown a{
  padding:6px 16px;
  display:block;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  border-top: 1px solid #dcdcdc;
}

.context_primarySource.active
{
  background-color:#23780c
}

.context_primarySource:hover
{
  background-color:#23780c
}

.context_newsSite.active
{
  background-color:#FF0000
}

.context_newsSite:hover
{
  background-color:#FF0000
}

.context_socialMedia.active
{
  background-color:#1f77b4
}

.context_socialMedia:hover
{
  background-color:#1f77b4
}

.context_misc.active 
{
  background-color:#ccc
}

.context_misc:hover 
{
  background-color:#ccc
}

.context_hideDomain:hover 
{
  background-color:#ccc
}

.blink 
{
    animation: blinker 1s ease-in-out 10;
}

@keyframes blinker {
    0%  { background-color: #23780c;}
    100%   { background-color: "";}
  }
